*{
	margin: 0;
	padding: 0;
	font-family: georgia, sans-serif;
}

.primary-btn{
	padding: 10px 20px;
	border: 2px solid #555;
	background: transparent;
	border-radius: 30px;
	font-size: 20px;
	font-weight: 500;
	transition: 0.5s;
}

.primary-btn:hover{
	background: black;
	color: white;
}

nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 2cm;
	justify-content: space-around;
}

nav .logo{
	align-items: center;
	display: flex;
	flex-basis: 30%;
}

nav .logo img{
	width: 1.0cm;
	margin-right: 15px;
}

nav .logo h1{
	font-size: 0.8cm;
}

nav .nav-links{
	flex-basis: 40%;
	text-align: center;
	padding-left: 1cm;
}

nav .nav-links ul{
	display: flex;
	list-style: none;
}

nav .nav-links ul li a{
	color: black;
	text-decoration: none;
	margin-right: 25px;
	font-size: 20px;
  transition: 0.5s;
}

nav .nav-links ul li a:hover{
	color: re;
}

nav .nav-icons{
	flex-basis: 30%;
	text-align: center;
}

nav .nav-icons i{
	font-size: 30px;
	margin-right: 20px;
	padding: 10px;
	transition: 0.5s;
}

.nav-icons i:hover{
	background: lightgray;
	border-radius: 5px;
}

.banner{
	display: flex;
	flex-direction: row;
	padding: 20px 2cm;
	align-items: center;
	background: navajowhite;
}

.banner .leftSide{
	width: 50%;
}

.banner .leftSide h2{
	font-size: 1.3cm;
	margin-bottom: 1cm;
}

.banner .leftSide p{
	margin-bottom: 1cm;
  font-size: 20px;
}

.banner .leftSide button{
	padding: 10px 15px;
	background: black;
	color: white;
	font-weight: 700;
	border: none;
	border-radius: 5px;
  cursor: pointer;
}

.banner .rightSide{
	padding-left: 8cm;
}

.banner .rightSide img{
	transition: 0.5s;
  height: 65%;
  width: 65%;
}

.banner .rightSide img:hover{
	filter: drop-shadow(10px 10px 15px grey);
}

/*----------------------*/

.about{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 4cm;

}

.about .leftSide{
	width: 50%;
}

.about .leftSide h1{
	font-size: 1cm;
	margin-bottom: 0.5cm;
}

.about .leftSide p{
	font-size: 15px;
	color: grey;
}

.about .leftSide button{
	margin-top: 0.8cm;
}

.about .rightSide img{
	width: 	10cm;
	border-radius: 50%;
  margin-left: 2cm;
}

.process{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 4cm;

}

.process .box{
	padding: 30px;
	width: 7cm;
	border-radius: 5px;
	height: 7cm;
	margin: 20px;
	transition: 1s;
}

.process .box:hover{
	box-shadow: 10px 7px 12px grey;
}

.process .box:hover .bullet{
	background: black;
	transition: 1s;
	color: white;
	font-weight: 700;
}

.process .box .bullet{
	border-radius: 50%;
	border: 1px solid black;
	color: black;
	font-size: 0.8cm;
	padding: 15px 25px;
	border-bottom: 20px;
	text-align: left;
}

.process .box h2{
	margin-top: 20px;
	margin-bottom: 20px;
}

.process .box p{
	color: grey;
}

.top-seller>div{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 4cm;
	justify-content: space-between;

}

.top-seller h1{
	font-size: 1cm;
	margin-bottom: 0.5cm;
}

.top-seller .product{
	width: 6cm; 
	height: 10cm;
	padding: 25px;
	border-radius: 10px;
	background:  red;
}

.top-seller .product img{
	width: 6cm;
	text-align: center;
	margin: auto;
}

.top-seller .product h2{
	font-size: 0.7cm;
	text-align: center;
	margin-bottom: 0.3cm;
	margin-top: 15px;
}

.top-seller .product button{
	padding: 8px 25px;
	background: white;
	text-transform: capitalize;
	color: black;
	font-weight: 600;
	border: none;
	font-size: 20px;
	border-radius: 5px;
	text-align: center;
	margin: auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.5s;
}

.top-seller .product button:hover{
	background: black;
	color: white;
}

.top-seller .product1{
	background: #db8edb;
}

.top-seller .product2{
	background: lightpink;
}

.top-seller .product3{
	background: lightblue;
}

/*-------------------------------*/

.benefits{
	padding: 20px 4cm;
	margin-top: 3cm;
}

.benefits h1{
	font-size: 1cm;
	margin-bottom: 20px;
}


.benefits>div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 1cm;
}

.benefits .box{
	padding: 10px;
	border: 1px solid grey;
	border-radius: 7px;
	width: 5cm;
	overflow: hidden;
	height: 6.5cm;
	text-align: center;
	transition: 0.5s;
}

.benefits .box img{
	width: 3CM;
	padding: 10PX;
	border-radius: 7px;
	border: 1px solid grey;
	margin-bottom: 15px;
}

.benefits .box p{
	width: auto;
	margin-top: 10px;
}

.benefits .box:hover{
	background: black;
	cursor: pointer;
	color: white;
	border: 1px solid black;
}

.benefits .box:hover img{
	border: 1px solid black;
	background: white;
}

/*--------------------------*/

.testimonial h1{
	font-size: 1cm;
	text-align: center;
	margin-top: 3cm;
}

.testimonial p{
	color: grey;
}

.testimonial>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 4cm;
	margin-top: 1cm;
}

.testimonial .review{
	display: flex;
	width: 10cm;
	padding: 0.5cm;
	cursor: pointer;
	border-radius: 5px;
	background: #d3d3d34a;
}

.testimonial .review .details{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.testimonial .review img{
	width:40%;
  height: 40%;
}

.testimonial .review h2{
  margin-left: 1cm;

}


.testimonial .review p{
	color: grey;
	font-size: 13px;
  margin-left: 1cm;
}

/*------------------------------*/

.footer{
  
  text-align: center;
  padding: 60px 0;
  background:whitesmoke;
  font-weight: 300;
  color: black;
  font-size: 20px;
  margin-top: 10px;
}

.footer .social-icons a{
  color: black;
  font-size: 28px;
  padding: 15px;
  font-weight: bold;
}

.footer .social-icons a:hover{
  color: rgb(187, 0, 31);
  transition: .5s;
}



